/* The alert message box */
.alert {
    width: 30%;
    height: 30px;
    position: relative;
    right: 20px;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-bottom: 40px;
    border: 1px solid transparent;
    border-radius: 30px;
    animation: alert ease .7s backwards; 
}

@keyframes alert
{
    from { 
         transform: translateX(100%); 
         opacity: 0;
    }

    to { 
         transform: translateX(0%); 
         opacity: 1;
    }
}

.error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

/* The close button */
.closebtn {
    background-color: transparent;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.hide {
    display: none;
    opacity: 0;
    -webkit-transition: easy 5s;
}